{% extends 'Products/base.html' %}

{% block content %}
<h2>Filtered Products</h2>

<h2>10 Most Expensive Products</h2>
<ul>
    {% for product in expensive %}
        <li><a href="{% url 'products:details' product.pk %}">{{ product.name }}</a> - ${{ product.price }}</li>
    {% endfor %}
</ul>

<h2>10 Cheapest Products</h2>
<ul>
    {% for product in cheap %}
        <li><a href="{% url 'products:details' product.pk %}">{{ product.name }}</a> - ${{ product.price }}</li>
    {% endfor %}
</ul>
{% endblock %}
